<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title></title>
	<meta name="generator" content="LibreOffice 4.3.7.2 (Linux)"/>
	<meta name="created" content="00:00:00"/>
	<meta name="changed" content="2016-08-29T17:14:37.740437698"/>
</head>
<body lang="zh-CN" dir="ltr" style="background: transparent">
<h1><font face="Thorndale, serif"><font size="6" style="font-size: 24pt"><span lang="en-US">&lt;h1&gt;Hello,Rails!&lt;/h1&gt;</span></font></font></h1>
</body>
</html>